.login {
  width: 100%;
  min-height: 600px;
  background-color: gray;
  .login-box{
    left: 422px;
    top: 154px;
    background-color: white;
    padding: 10px;
    width: 300px;
    position: relative;
  }
}
